[submodule "packages/builder-vm"]
	path = packages/builder-vm
	url = https://github.com/eins78/packer-rpibuilder-vagrant
[submodule "packages/pi-gen"]
	path = packages/pi-gen
	url = https://github.com/eins78/pi-gen
[submodule "packages/dexd"]
	path = packages/dexd
	url = https://github.com/eins78/dexd
